<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Mini message board</h1>
    <a href="/new">Create a new message</a>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <p><strong><%= message.username %>:</strong> <%= message.text %></p>
        <small
          ><%= message.added ? message.added.toLocaleString() : "Unknown date"
          %></small
        >
        <!-- <br /> -->
        <a href="/messages/<%= message.id %>">
          <button>Open</button>
        </a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
